@font-face {
  font-family: "FF Mark";
  src: url("https://cdn.coffeecircle.com/0b534888-fe53-4c1c-bd45-5fe98f8bd5fa/MarkProBook.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "FF Mark";
  src: url("https://cdn.coffeecircle.com/b25b0096-2dbd-4c4c-ad57-0631c39eac04/MarkProBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Noe Display";
  src: url("https://cdn.coffeecircle.com/ce78d1f9-f8df-4f9c-a03f-b6f01ffce929/NoeDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  font-family: "FF Mark", Arial, Helvetica, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f3f2;
  font-family: "FF Mark", Arial, Helvetica, Verdana, sans-serif;
  font-size: 16px;
}

.header__wrapper {
  background-color: #224737;
}
.header__inner {
  max-width: 1200px;
  display: flex;
  padding: 0 1rem;
  align-items: stretch;
  justify-content: space-between;
  height: 50px;
  margin: 0 auto;
}
.header__inner a {
  color: white;
}
.header__logo {
  display: flex;
  color: white;
  flex: 0 0 auto;
  align-items: center;
  text-decoration: none;
}
.header__logo img {
  height: 20px;
  fill: currentColor;
}
.header__logo span {
  padding-left: 1rem;
  font-weight: 700;
  font-family: "Noe Display", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.2rem;
}

.task__container {
  color: #b3b3b3;
  padding: 3rem;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  font-size: 2rem;
}

main {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.wishlist {
  margin-top: 4rem;
  display: table;
  line-height: 1.5;
}

.wishlist--content {
  display: grid;
  grid-template-columns: auto auto;
}

.wishlist--row {
  display: table-row;
}

.wishlist--row > * {
  display: table-cell;
}

.wishlist--sku:not(:last-child) {
  margin-bottom: 0.5rem;
}

.wishlist--sku {
  background-color: #5F99D2;
  color: white;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  font-family: monospace;
  text-align: center;
}

.wishlist--quantity {
  background-color: #FAD3DC;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  margin: 0 0 0.5rem 0.2rem;
  align-self: center;
  justify-self: left;
}

@media screen and (min-width: 600px) {
  main {
    padding: 4rem 2rem;
  }
  .header__inner {
    padding: 0 2rem;
  }

  .header__logo span {
    font-size: 1.5rem;
  }
}

footer {
  text-align: center;
  padding: 2rem 0;
}
